extends ../shared/template
block content
  h2 About
  
    p Asymmetrical locavore crucifix, 90's 8-bit next level single-origin coffee cred VHS. Salvia shabby chic selfies, pop-up Tumblr try-hard Blue Bottle Truffaut distillery farm-to-table beard actually Pitchfork biodiesel. Kogi Brooklyn photo booth Wes Anderson, whatever skateboard Etsy. Lo-fi yr flannel seitan Shoreditch. Butcher 3 wolf moon gentrify, forage Schlitz bespoke seitan sartorial. Thundercats biodiesel banh mi, Brooklyn 8-bit roof party art party skateboard pour-over authentic wolf viral. Put a bird on it Portland cliche readymade.

    Pug single-origin coffee Thundercats, chillwave Tonx disrupt authentic trust fund flexitarian. Farm-to-table Etsy 90's forage deep v Helvetica. Godard kale chips mumblecore ugh pop-up umami. Thundercats mumblecore seitan vinyl. Synth Blue Bottle gluten-free umami fanny pack, letterpress Vice put a bird on it squid. +1 ethical keffiyeh craft beer, fap iPhone aesthetic twee squid. Portland bitters crucifix +1, umami messenger bag Echo Park sartorial Vice fingerstache.

block scripts
  script(src='/js/user/home.js')
