html, body{
  height: 100%;
}

#map{
  height: 500px;
  border: 3px solid black;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@bg-color: saturate(#D3E2F4, 20%);
@font-color: #cccccc;

*{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
}


body{
  background-color: @bg-color;
}

button{
  margin-top: 10px;
}

.navbar{
  background-color: #DEDEDE;
  color: black;
  border: 3px solid orange;
  margin: 10px;
}

